<!--The content below is only a placeholder and can be replaced.-->
<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h3>Fim de jogo! Infelizmente você perdeu.</h3>
                    <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h3>Fim de jogo! Parabéns, você ganhou!</h3>
                    <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>